<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    metadata-complete="true">

	<display-name>Core Web Example</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:business-spring-context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>core-web</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>core-web</servlet-name>
		<url-pattern>/w/*</url-pattern>
	</servlet-mapping>
	
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>core-asset</servlet-name> -->
<!-- 		<servlet-class>org.springframework.web.servlet.ResourceServlet</servlet-class> -->
<!-- 		<load-on-startup>3</load-on-startup> -->
<!-- 	</servlet> -->
	
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>core-asset</servlet-name> -->
<!-- 		<url-pattern>/assets/*</url-pattern> -->
<!-- 	</servlet-mapping> -->


	<context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>
    
    <context-param>
		<param-name>log4jExposeWebAppRoot</param-name>
		<param-value>false</param-value>
	</context-param>
    
    <context-param>
        <param-name>log4jRefreshInterval</param-name>
        <param-value>10000</param-value>
    </context-param>
 
    <listener>
      <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
</web-app>